<!doctype html>
<!-- This is a Jinja based template. To read more about Jinja, check
 https://jinja.palletsprojects.com/en/3.0.x/  -->
<title>Message board</title>
<body>
    <h2>Send messages to the Moon</h2>
	<h3>Kaarel Kütt</h3>
	
	<h4> Here are the last 10 received messages:</h4>
    <ul>
		<li>
			¤¤$@}+??%¤#?`´- <small>Posted on 2024-03-05 16:08:20</small>
		</li>
    </ul>

    <h4> Here are the last 10 sent messages:</h4>
    <ul>
        {% for m in messages[-9:]|reverse %}
            <li>
                "{{m.content}}" <small>Posted on {{m.timestamp}}</small>
            </li>
        {% endfor %}
    </ul>
	
    <h4> Enter a new message</h4>
    <form action="/">
        <label >Your message:</label><br>
        <input type="text" name="msg"><br>
        <input type="submit" value="Submit">
    </form>
</body>
